@import url('https://fonts.googleapis.com/css2?family=Basic&family=Gloria+Hallelujah&family=Libre+Barcode+39+Text&family=Mooli&family=Neonderthaw&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Sedgwick+Ave&family=Shadows+Into+Light&family=Syncopate:wght@400;700&display=swap');

:root{
    --cor-primaria: #FFC55A;
    --cor-secundaria: #00215E;
    --cor-terciaria: #FC4100;
    --cor-hover: #FFEAE3;

    --fonte-primaria: "Syncopate", sans-serif;
    --fonte-secundaria: "Mooli", sans-serif;
    --fonte-especial: "Libre Barcode 39 Text", sans-serif;
}



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    width: 100%;
    box-sizing: border-box;

    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

    font-weight: 200;
    font-family: var(--fonte-primaria);
}

.cabecalho{
    padding: 2% 15%;
}

.cabecalho__animado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cabecalho__menu{
    margin-top: 3%;
    display: flex;
    gap: 80px;
    
    font-family: var(--fonte-secundaria);
}

.cabecalho__menu__link{
    margin: 5px 10px;
    padding: 5px 10px;
    font-size: 2.25rem;
    font-weight: 500;

    color: var(--cor-secundaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover{
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 2.25rem;
}

.minhaImagem{
    width: 35%; 
    border: 2px solid var(--cor-terciaria);
}

.apresentacao{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    padding: 2% 0%;
}
.apresentacao__conteudo__destaque{
    padding: 2% 0%;
    color: var(--cor-terciaria);
    font-size: 1.125rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__texto{
    margin: 4px;
    border: 2px solid var(--cor-terciaria);
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-secundaria);

    border: 2px solid var(--cor-terciaria);

    /* width: 378px; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 10px 0px;
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 600;
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    color: var(--cor-secundaria);
    
    font-family: var(--fonte-especial);
    font-size: 1.625rem;
    font-weight: 400;
    
    padding: 2%;
}

.destaque{
    color: var(--cor-terciaria);
}

.icone_redesocial{
    width: 25px;
    height: 25px;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}


@media (max-width: 1200px){
    
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__links__navegacao{
        width: 65%;
    }

}